<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxc.quiz.mapper.ExamMapper">
	<resultMap id="examResult" type="com.lxc.quiz.domain.Exam">
		<id property="examId" column="exam_id" />
		<result property="examName" column="exam_name"/>
		<result property="paperId" column="paper_id"/>
		<result property="examBegin" column="exam_begin"/>
		<result property="examEnd" column="exam_end"/>
		<association property="paper" column="#" javaType="com.lxc.quiz.domain.Paper" resultMap="paperResult"/>
	</resultMap>
	<resultMap id="paperResult" type="com.lxc.quiz.domain.Paper">
		<id property="paperId" column="paper_id"/>
		<result property="paperName" column="paper_name"/>
	</resultMap>
	<!--查询所有有效考试信息-->
	<select id="queryAll" resultMap="examResult">

	</select>
	<!--查询所有考试信息-->
	<select id="getAllS" resultMap="examResult">

	</select>
	<!--根据id查询考试信息-->
    <select id="getExamById" resultType="com.lxc.quiz.domain.Exam" parameterType="Integer">

	</select>
	<!--添加考试-->
	<insert id="AddExam" parameterType="com.lxc.quiz.domain.Exam">

	</insert>
</mapper>